.graph > ul {
  padding: 0;
  list-style: none;
}
.graph > ul > li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding: 0.2rem;
  position: relative;
  background-color: #666;
}

.graph > ul > li small {
  color: #DFECE6;
}

.graph .content {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-shadow: 1px 1px 1px #222;
}
